default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\FormContext
                - App\Tests\Behat\TasksContext
                # - App\Tests\Behat\DemoContext
    extensions:
      DMore\ChromeExtension\Behat\ServiceContainer\ChromeExtension: ~
      DAMA\DoctrineTestBundle\Behat\ServiceContainer\DoctrineExtension: ~
      FriendsOfBehat\SymfonyExtension:
        bootstrap: tests/bootstrap.php
        kernel:
          environment: test
      Behat\MinkExtension:
        browser_name: chrome
        base_url: http://localhost:8000
        default_session: symfony
        javascript_session: chrome
        sessions:
          symfony:
            symfony: ~
          chrome:
            chrome:
              api_url: http://127.0.0.1:9222
              validate_certificate: false
        show_auto: false