parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$statisticTaskRow of method App\\\\Service\\\\GoalScheduler\\\\TaskProgressResult\\:\\:incrementValues\\(\\) expects array\\<string, mixed\\>, string given\\.$#"
			count: 1
			path: src/Service/GoalScheduler/TaskProgressResult.php

		-
			message: "#^Parameter \\#1 \\$statisticTaskRow of method App\\\\Service\\\\GoalScheduler\\\\TaskProgressResult\\:\\:initTableIfNotExists\\(\\) expects array\\<string, mixed\\>, string given\\.$#"
			count: 1
			path: src/Service/GoalScheduler/TaskProgressResult.php
