{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

<h2><span>You are Welcome on your League Dashboard.</span></h2>
<div class="row">
    <div class="col card">
        <section>
            <p>Here Should I put filters and Start Button</p>
            {{ form(form_filter) }}
        </section>
    </div>
</div>
{% endblock %}