{% extends 'base.html.twig' %}

{% block title %}Homepage!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Welcome and set your Goals.</h1>
    <h1>Remember set your Goals S.M.A.R.T</h1>
    <img src = "{{ asset('images/goals-768x604.jpg') }}" alt="set Goals Smart" />
</div>
{% endblock %}
